:root {
  /*
  Nice analog colors:
  #8B416C #85418B #60418B #41478B #416C8B
  */
  --bs-gray: #888888;
  --bs-primary: #60418B;
  --bs-secondary: #8B416C;
  --bs-light: #dddddd;
  --bs-dark: #222222;
  --bs-success: #198754;
  --bs-info: #406B8A;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-color: var(--bs-dark);
  --bs-bg-color: var(--bs-light);
}

.primary, .secondary, .light, .dark, .info, .success {
  color: var(--bs-color) !important;
  background-color: var(--bs-bg-color) !important;
}

.primary, .secondary, .light, .dark, .info, .success {
  --bs-color: var(--bs-light);
}

.light {
  --bs-color: var(--bs-dark);
}

.primary {
  --bs-bg-color: var(--bs-primary);
}

.secondary {
  --bs-bg-color: var(--bs-secondary);
}

.light {
  --bs-bg-color: var(--bs-light);
}

.dark {
  --bs-bg-color: var(--bs-dark);
}

.info {
  --bs-bg-color: var(--bs-info);
}

.success {
  --bs-bg-color: var(--bs-success);
}

button {
  border-color: var(--bs-bg-color, 0.5);
}

button:hover {
  filter: brightness(0.8);
}

button:focus {
  box-shadow: 0 0 0.5em var(--bs-color) !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

a:hover {
  opacity: 0.6;
}

.progress-bar {
  position: relative;
  height: 20px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #333;
}

.filler{
  background: #1DA598;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}