:root {
  /*
  Nice analog colors:
  #8B416C #85418B #60418B #41478B #416C8B
  */
  --bs-primary: #60418B;
  --bs-secondary: #8B416C;
  --bs-light: #f8f8f8;
  --bs-dark: #222222;
  --bs-gray: #888888;
  --bs-gray-light: #cccccc;
  --bs-gray-dark: #444444;
  --bs-success: #198754;
  --bs-info: #406B8A;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-color: var(--bs-dark);
  --bs-bg-color: var(--bs-light);
}

.primary, .secondary, .light, .dark, .gray-light, .gray-dark, .info, .success {
  color: var(--bs-color) !important;
  background-color: var(--bs-bg-color) !important;
}

.primary, .secondary, .dark, .gray-dark, .info, .success {
  --bs-color: var(--bs-light);
}

.light, .gray-light {
  --bs-color: var(--bs-dark);
}

input {
  background-color: rgba(122, 122, 122, 0.1) !important;
}

.primary {
  --bs-bg-color: var(--bs-primary);
}

.secondary {
  --bs-bg-color: var(--bs-secondary);
}

.light {
  --bs-bg-color: var(--bs-light);
}

.dark {
  --bs-bg-color: var(--bs-dark);
}

.gray-light {
  --bs-bg-color: var(--bs-gray-light);
}

.gray-dark {
  --bs-bg-color: var(--bs-gray-dark);
}

.info {
  --bs-bg-color: var(--bs-info);
}

.success {
  --bs-bg-color: var(--bs-success);
}

button {
  border-color: var(--bs-bg-color, 0.5);
}

button:hover {
  filter: brightness(0.8);
}

button:focus {
  box-shadow: 0 0 0.5em var(--bs-color) !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

a:hover {
  opacity: 0.6;
}